html, body{
    text-align: center;
    margin: 1%;
    height: 100%;
}
div.login_form input {
    margin: 1.5%;
}

div.login_form label {
    margin: 1%;
}
div.login_form {
    margin-top: 10%;
}

table {
    margin-left: 35%;
    margin-right: auto;
}

header {
    margin-bottom: 10%;
    margin-top: 1%;
}
